@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter;
  line-height: 1.5;
  font-weight: 400;
  color: white;
}

body {
  background-color: #161625;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: none;
}
/* MuiDatagrid styling */
.MuiDataGrid-cell,
.MuiDataGrid-footerContainer,
.MuiDataGrid-columnHeaderTitleContainer,
.MuiDataGrid-columnHeader {
  background-color: #212232;
}

.MuiSvgIcon-root,
.MuiTablePagination-displayedRows {
  color: white;
}

/* Banner styling*/
.banner {
  position: relative;
  width: 300px;
  height: 115px;
}

.square {
  width: 100px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.triangle-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.triangle-middle {
  display: inline-block;
  width: 100px;
  height: 25px;
  clip-path: polygon(0 0, 100% 0, 66.67% 100%, 50% 100%, 33.33% 100%);
}

/* Outfit Styling */
.football-kit {
  margin: 100px auto;
  position: relative;
  width: 90px;
}

.football-kit__shirt {
  position: relative;
  z-index: 1;
  height: 150px;
  clip-path: polygon(30% 0, 50% 10%, 70% 0, 100% 0, 100% 100%, 0 100%, 0 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.football-kit__sleeve {
  width: 40px;
  height: 70px;
  position: absolute;
  top: 9px;
}

.football-kit__sleeve--left {
  left: 4px;
  transform-origin: 0 0;
  transform: rotate(45deg);
}

.football-kit__sleeve--right {
  right: 3px;
  transform-origin: 100% 0;
  transform: rotate(-45deg);
}

.football-kit__shorts {
  display: inline-block;
  width: 90px;
  height: 70px;
  transform: rotate(180deg);
  clip-path: polygon(30% 0, 50% 30%, 70% 0, 100% 0, 100% 100%, 0 100%, 0 0);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

/* animatie Styling */
.transition-container {
  transition: opacity 0.3s ease-in-out;
}

.transition-container.fade {
  opacity: 0;
}
/* card Stylingc / animation */

@keyframes cardAnimation {
  0% {
    background: conic-gradient(from 0deg, currentColor 0%, transparent 10%);
  }

  10% {
    background: conic-gradient(from 0deg, currentColor 10%, transparent 20%);
  }

  20% {
    background: conic-gradient(from 0deg, currentColor 20%, transparent 30%);
  }

  30% {
    background: conic-gradient(from 0deg, currentColor 30%, transparent 40%);
  }

  40% {
    background: conic-gradient(from 0deg, currentColor 40%, transparent 50%);
  }

  50% {
    background: conic-gradient(from 0deg, currentColor 50%, transparent 60%);
  }

  60% {
    background: conic-gradient(from 0deg, currentColor 60%, transparent 70%);
  }

  70% {
    background: conic-gradient(from 0deg, currentColor 70%, transparent 80%);
  }

  80% {
    background: conic-gradient(from 0deg, currentColor 80%, transparent 90%);
  }

  90% {
    background: conic-gradient(from 0deg, currentColor 90%, transparent 100%);
  }

  100% {
    background: conic-gradient(from 0deg, currentColor 100%, transparent 100%);
  }
}